body .project {
  border-radius: 10px;
  margin-left: 40px;
  margin-top: 30px;
  height: 230px;
  box-shadow: 0px 5px 18px 3px rgba(0, 0, 0, 0.37);
  padding: 20px;
  width: 433px;
}
body .project .project-name {
  margin: 0px;
  color: #3D9BE9;
  font-size: 20px;
  font-weight: bold;
}
body .project .project-procent {
  color: #47BF3B;
  margin: 0px;
  font-size: 20px;
  font-weight: bold;
}
body .project .completion {
  padding: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
}
body .project .completion .not-complete {
  margin-top: 7px;
  height: 5px;
  background-color: #e8e6e6;
  border-radius: 5px;
  padding: 0px;
}
body .project .completion .complete {
  margin-top: 7px;
  height: 5px;
  border-radius: 5px;
  padding: 0px;
  background-color: #47Bf3B;
}
body .project .project-info {
  color: #C7C7C7;
  margin-bottom: 8px;
  margin-top: 0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  overflow: hidden;
}
body .inline {
  display: inline-block;
}
body .rightside {
  float: right;
}
body .leftside {
  float: left;
}
body .navigation {
  margin: 0px;
  padding: 0px;
  background-color: black;
}
body .navigation .logo {
  margin-top: 30px;
  padding: 0px;
}
body .navigation .logo img {
  margin-left: 30px;
  height: 66px;
  width: 128px;
}
body .navigation .home {
  margin-top: 30px;
  padding: 0px;
  color: white;
  font-size: 40px;
}
body .navigation .home span {
  margin: 0px 0px 0px 40px;
}
body .navigation .tab {
  padding: 7px 0px 7px 0px;
  margin: 30px 10px 40px 0px;
  color: white;
  text-align: center;
  font-size: 23px;
  background-color: rgba(232, 230, 230, 0.17);
  border: #999997 1px solid;
  border-radius: 10px;
}
body .navigation .profile {
  padding: 0px;
  margin-top: 30px;
}
body .navigation .profile img {
  float: right;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 1px solid white;
  margin-right: 40px;
}
body .sidebar {
  background-color: #e8e6e6;
  height: 100vh;
  color: #999997;
}
body .content {
  height: 100vh;
}
body .content .content-header {
  height: 63px;
}
body .content .content-header .projectheader {
  padding: 0px;
  font-size: 20px;
  color: black;
}
body .content .content-header .searchbar {
  margin-top: 20px;
  height: 40px;
}
body .content .content-header .searchbar span {
  margin: 5px;
  font-size: 20px;
}
body .content .content-header .fill {
  height: 63px;
}
body .content .content-header .new-project-btn {
  margin-top: 20px;
}
body .content .projects-content {
  margin-top: 30px;
  padding: 0px;
  height: 100vh;
}
body .content .projects-content .project {
  border-radius: 10px;
  margin-left: 40px;
  margin-top: 30px;
  height: 230px;
  box-shadow: 0px 5px 18px 3px rgba(0, 0, 0, 0.37);
  padding: 20px;
  width: 433px;
}
body .content .projects-content .project .project-name {
  margin: 0px;
  color: #3D9BE9;
}
body .content .projects-content .project .project-procent {
  color: #47BF3B;
  margin: 0px;
  font-weight: bold;
}
body .content .projects-content .project .completion {
  padding: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
}
body .content .projects-content .project .completion .not-complete {
  margin-top: 7px;
  height: 5px;
  background-color: #e8e6e6;
  border-radius: 5px;
  padding: 0px;
}
body .content .projects-content .project .completion .complete {
  margin-top: 7px;
  height: 5px;
  border-radius: 5px;
  padding: 0px;
  background-color: #47Bf3B;
}
body .content .projects-content .project .project-info {
  color: #C7C7C7;
  margin-bottom: 8px;
  margin-top: 0px;
}
/*# sourceMappingURL=main.css.map */