body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f2f2f2;
    .inline{
        display:inline-block;
    }
    .right{
        float:right;
    }
    .left{
        float:left;
    }
    .navigation{
        background-color:black;
        height:120px;
        .logo{
            margin-left:40px;
            padding:20px;
            img{
                height:66px;
                width:128px;
            }
        }
        .home{
            margin-left:-50px;
            color:white;
            font-size:40px;
            padding:32px;
            margin-right:100px;
        }
        .tab{
            padding:7px 0px 7px 0px;
            margin:30px 10px 40px 10px;
            color:white;
            text-align:center;
            font-size:23px;
            background-color:rgba(232, 230, 230, 0.17);
            border:rgba(153, 153, 151, 1) 1px solid;
            border-radius:10px;
        }
        .profile{
            img{
                height:50px;
                width:50px;
                border-radius:100%;
                border:1px solid white;
            }
            margin:30px -50px 30px 100px;
        }
    }
}
